dj-database-url==0.4.0
Django==1.9.2
django-jet==0.1.4
django-oauth2-provider==0.2.6.1
django-pure-pagination==0.3.0
gunicorn==19.4.5
oauthlib==1.1.1
Pillow==3.2.0
psycopg2==2.6.1
pyjade==4.0.0
PyJWT==1.4.0
python-openid==2.2.5
python-social-auth==0.2.19
requests==2.10.0
requests-oauthlib==0.6.1
shortuuid==0.4.3
six==1.10.0
whitenoise==2.0.6
