{% extends "base.jade" %}

{% block page_title %}
|Login
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Iniciar sesión
{% endif %}
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
div(class="alert-{{message.tags}}") {{message}}
  i.fa.fa-minus-circle
{% endfor %}
{% endif %}
form(action="", method="post", class="login")
  | {% csrf_token %}
  div.login-fields
    input(type="text", name="username", placeholder="Nombre de usuario...")
    input(type="password", name="password", placeholder="Contraseña...")
    button(type="submit", class="login-btn") Login
  div.login-social
    a(href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}", class="login-social-btn twitter-btn")
      i.fa.fa-twitter
    a(href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}", class="login-social-btn facebook-btn")
      i.fa.fa-facebook-square
    a(href="{% url 'social:begin' 'github' %}?next={{ request.path }}", class="login-social-btn github-btn")
      i.fa.fa-github-alt
    a(href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}", class="login-social-btn google-btn")
      i.fa.fa-google-plus
div.register
  h3.register-titulo ¿ No estás registrado aún ?
  a(href="{% url 'usuarios:registro' %}" class="register-btn") Registrarse
{% endblock%}
