{% extends "base.jade" %}

{% block page_title %}
| Perfil: {{perfil.user.username}}
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Perfil: {{perfil.user.username}}
{% endif %}
{% endblock %}

{% block content %}

section.container.perfil-info.row
  div.four.columns.perfil-inner
    {% if perfil.avatar %}
    img(src="{{ perfil.avatar.url }}", alt="", class="", height="200px", width="200px")
    {% else %}
    img(src="/static/images/default_avatar.png", alt="", class="",  height="200px", width="200px")
    {% endif %}
    div.perfil-info-user
      p {{perfil.user.username}}
  div.eight.columns.perfil-info-details
    |{% if perfil == user.perfil %}
    a(href="{% url 'usuarios:editarperfil' pk=perfil.id %}", class="editbtn")
      i.fa.fa-pencil-square-o
    |{% endif %}
    h3 {{perfil.user.username}}
    div.perfil-info-details--fullname.u-full-width
      {% if perfil.nombre %}
      h4 {{perfil.nombre}}
        i.fa.fa-user
      {% else %}
      h4 Sin nombre
        i.fa.fa-user
      {% endif %}
      {% if perfil.apellido %}
      h4 {{perfil.apellido}}
      {% else %}
      h4 Sin apellido
      {% endif %}
      
    
section.perfil-list.container
  h3.perfil-list-titulo Lista de casas de {{perfil.user.username}}
  {% if casas|length > 0 %}
  ul.u-full-width.perfil-inner
    |{% for casa in casas %}
    li.row
      a(href="{% url 'casas:detail' pk=casa.id %}" class="four columns"){{casa.nombre}}
      p.four.columns {{casa.ciudad}}
      p.four.columns {{casa.direccion}}
    |{%endfor%}
  {% else %}
  p Casas no disponibles
  {% endif %}
section.perfil-list.container
  h3.perfil-list-titulo Lista de casas favoritas de  {{perfil.user.username}}
  {% if favoritos|length > 0 %}
  ul.u-full-width.perfil-inner
    |{% for fav in favoritos %}
    li
      i.fa.fa-heart.fav
      &nbsp;&nbsp;{{perfil.user.username}} ha añadido como favorito la casa <a href="{% url 'casas:detail' pk=fav.casaFavorito.id %}">{{fav.casaFavorito.nombre}}</a>
    |{%endfor%}
  {% else %}
  p {{perfil.user.username}} no tiene casas favoritas
  {% endif %}

{% endblock %}
