@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: white; }
  to {
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.1); } }
@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: white; }
  to {
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.1); } }

.footer {
  width: 100%;
  -webkit-box-ordinal-group: 667;
  -webkit-order: 666;
      -ms-flex-order: 666;
          order: 666; }
  .footer-main {
    width: 100%;
    height: 100px;
    background-color: #2B2B2B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-small {
    width: 100%;
    height: 20px;
    background-color: #121212; }

.github-logo {
  width: 75px;
  height: 75px; }

header {
  width: 100%;
  background-color: #444;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-titulo {
    font-family: 'Open sans';
    font-size: 32px;
    color: #fff; }
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-nav-titulo {
      color: white;
      font-weight: bold;
      margin: 0 10px; }
  .header-btn {
    border-radius: 1px solid black;
    padding: 10px;
    background: #3498db url("/static/images/button-glass.png");
    margin: 0 10px;
    border-radius: 3px; }
    .header-btn.signin {
      background: #3498db url("/static/images/button-glass.png");
      border: 1px solid #258cd1; }
      .header-btn.signin:hover {
        background: #217dbb url("/static/images/button-glass.png"); }
    .header-btn.signup {
      background: #55acee url("/static/images/button-glass.png");
      border: 1px solid #3ea1ec; }
      .header-btn.signup:hover {
        background: #2795e9 url("/static/images/button-glass.png"); }
    .header-btn.logout {
      background: #fed5d5 url("/static/images/button-glass.png");
      border: 1px solid #fdbcbc;
      color: red; }
      .header-btn.logout:hover {
        background: #fda3a3 url("/static/images/button-glass.png"); }
    .header-btn.edit-profile {
      background: #FBFAF9 url("/static/images/button-glass.png");
      border: 1px solid #f1edea; }
      .header-btn.edit-profile:hover {
        background: #e7e1da url("/static/images/button-glass.png"); }
    .header-btn.new-house {
      background: #FBFAF9 url("/static/images/button-glass.png");
      border: 1px solid #f1edea; }
      .header-btn.new-house:hover {
        background: #e7e1da url("/static/images/button-glass.png"); }

.banner {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #FBFAF9;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner-opacity {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.19);
    z-index: 5; }
  .banner-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold; }

.menu {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 100%;
  background: #373737;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .menu-container {
    width: 980px; }
  .menu-fixed {
    position: fixed;
    z-index: 777; }
  .menu-btn {
    background-color: #5e5e5e;
    box-sizing: border-box;
    border-bottom: 2px solid #3498db;
    line-height: 30px;
    color: white;
    font-size: 0.75em;
    height: 30px;
    margin: 0;
    padding: 7px 1em 6px 1em; }
    .menu-btn:hover {
      background-color: #373737; }

.casas-list-container {
  width: 980px;
  min-height: 70vh;
  padding: 10px;
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.casas-list-item {
  width: 95%;
  min-height: 200px;
  margin-top: 10px;
  padding: 5px 30px 5px 10px;
  border: 1px solid #d4d4d4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  word-wrap: break-word; }
  .casas-list-item-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 190px; }
    .casas-list-item-info > div {
      width: 100%; }
    .casas-list-item-info h3 {
      font-family: 'Lato','Open Sans','Helvetica Neue','Arial','San-serif';
      letter-spacing: -1;
      font-size: 2em;
      color: #383838;
      font-weight: 800;
      margin: 5px 0;
      padding-bottom: 5px;
      width: 100%;
      border-bottom: 1px solid black; }
    .casas-list-item-info p {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; }
  .casas-list-item-details {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px; }
  .casas-list-item-pic {
    width: 180px;
    height: 180px;
    margin: 10px; }

.readmore {
  padding: 7px 1em;
  background-color: #404040;
  color: #c8c8c8;
  width: 80%;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px auto 0 auto;
  border-top: 2px solid #3498db; }

.pagination {
  text-align: center;
  margin: 10px 0; }
  .pagination-item {
    -webkit-transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
            transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
    display: inline-block;
    border-right: 1px solid #d7dadb;
    padding: .5em;
    font-size: 1.25em;
    box-sizing: border-box; }
    .pagination-item:hover, .pagination-item.current {
      background-color: #3498db;
      border-right: 1px solid #fff;
      color: black; }
  .pagination .next, .pagination .prev {
    margin: 0 20px;
    font-size: 1.25em; }

.login {
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .login-btn {
    height: 50px;
    background-color: #17c;
    width: 100%;
    outline: 0;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1em;
    color: #F7F7F7;
    box-sizing: border-box; }
    .login-btn:hover {
      background-color: #0d5c9d;
      color: #dedede; }
  .login-social {
    position: relative;
    border-left: 2px solid #2B2B2B;
    padding: 1em;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .login-social:after {
      content: "or";
      padding: 5px 0;
      position: absolute;
      top: 40%;
      left: -10px;
      background-color: #f5f5f5; }
    .login-social-btn {
      width: 300px;
      padding: 5px;
      margin: 5px;
      height: 30px;
      background-color: #e67e22;
      border-radius: 3px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .login-social-btn i {
        color: white;
        font-size: 32px; }

.twitter-btn {
  background-color: #55acee; }
  .twitter-btn:hover {
    background-color: #2795e9; }

.facebook-btn {
  background-color: #3b5998; }
  .facebook-btn:hover {
    background-color: #2d4373; }

.github-btn {
  background-color: #333333; }
  .github-btn:hover {
    background-color: #1a1a1a; }

.google-btn {
  background-color: #dd4b39; }
  .google-btn:hover {
    background-color: #c23321; }

.register {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px; }
  .register-titulo {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 30px; }
  .register-btn {
    border-radius: 3px;
    background-color: #2ecc71;
    padding: 5px;
    height: 30px;
    width: 50%;
    text-align: center;
    font-weight: bolder;
    color: white;
    line-height: 30px; }
    .register-btn:hover {
      background-color: #25a25a; }

.ui-datepicker {
  background: white;
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.ui-datepicker a {
  text-decoration: none; }

/* DatePicker Table */
.ui-datepicker table {
  width: 100%; }

.ui-datepicker-header {
  background: url("/static/images/dark_leather.png") repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  text-shadow: 1px -1px 0px #000;
  -webkit-filter: dropshadow(color=#000, offx=1, offy=-1);
          filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111; }

.ui-datepicker-title {
  text-align: center; }

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("/static/images/arrow.png");
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden; }

.ui-datepicker-prev {
  float: left;
  background-position: center -30px; }

.ui-datepicker-next {
  float: right;
  background-position: center 0px; }

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb; }

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  -webkit-filter: dropshadow(color=#fff, offx=1, offy=0);
          filter: dropshadow(color=#fff, offx=1, offy=0); }

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb; }

.ui-datepicker tbody td:last-child {
  border-right: 0px; }

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb; }

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  -webkit-filter: dropshadow(color=#fff, offx=1, offy=1);
          filter: dropshadow(color=#fff, offx=1, offy=1); }

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(top, #ededed 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5); }

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7; }

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  -webkit-filter: dropshadow(color=#4d7a85, offx=0, offy=1);
          filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px; }

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3; }

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0; }

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0; }

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0; }

form.container img {
  margin-left: 240px; }

.form-input {
  width: 100%;
  margin-top: 10px; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  padding: 1rem 1.75rem;
  background-color: #3498db;
  display: inline-block;
  cursor: pointer;
  /* "hand" cursor */ }

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #16527a; }

.submitbtn {
  width: 94%;
  background-color: #3498db;
  padding: 1em;
  outline: 0;
  border: 0;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: border-box;
  color: #2B2B2B;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .submitbtn:hover {
    background-color: #217dbb; }

.check-icons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.roundedcheck {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #2c3e50;
  border-radius: 100%; }
  .roundedcheck label {
    width: 58px;
    height: 58px;
    top: 1px;
    right: auto;
    bottom: auto;
    left: 1px;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background-color: #34495e; }
    .roundedcheck label:after {
      content: '';
      width: 56px;
      height: 56px;
      background: #7796b4;
      top: 1px;
      right: auto;
      bottom: auto;
      left: 1px;
      position: absolute;
      border-radius: 100%;
      opacity: 0; }
    .roundedcheck label:hover::after {
      opacity: 0.3; }
  .roundedcheck input[type=checkbox] {
    visibility: hidden; }
    .roundedcheck input[type=checkbox]:checked + label.wifi {
      opacity: 1; }
    .roundedcheck input[type=checkbox]:checked + label.parking {
      opacity: 1; }
    .roundedcheck input[type=checkbox]:checked + label.eye {
      opacity: 1; }
    .roundedcheck input[type=checkbox]:checked + label.pool {
      opacity: 1; }
    .roundedcheck input[type=checkbox]:checked + label.pet {
      opacity: 1; }

.parking {
  background: #7796b4 url("/static/images/icons/car.png") center no-repeat;
  opacity: 0.1; }

.wifi {
  background: #7796b4 url("/static/images/icons/wifi.png") center no-repeat;
  opacity: 0.1; }

.pool {
  background: #7796b4 url("/static/images/icons/pool.png") center no-repeat;
  opacity: 0.1; }

.pet {
  background: #7796b4 url("/static/images/icons/pet.png") center no-repeat;
  opacity: 0.1; }

.eye {
  background: #7796b4 url("/static/images/icons/show.png") center no-repeat;
  opacity: 0.1; }

.helptext {
  visibility: hidden; }

input[type="range"] {
  -webkit-appearance: none;
  width: 160px;
  height: 20px;
  margin: 10px 50px;
  background: -webkit-linear-gradient(left, #217dbb 0%, #217dbb 100%);
  background: linear-gradient(to right, #217dbb 0%, #217dbb 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none; }

input[type="range"]:first-of-type {
  margin-top: 30px; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #3498db;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }

input[type="range"]::-webkit-slider-thumb:after {
  content: " ";
  width: 160px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 5px;
  background: #3498db;
  background: -webkit-linear-gradient(left, #f088fc 1%, #AC6CFF 70%);
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%); }

label.checklbl {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 10px; }

label.checklbl:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); }

.checkbox label:before {
  border-radius: 3px; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px; }

.perfil-list, .perfil-info {
  margin: 10px 0;
  background-color: #fffafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .perfil-list-titulo, .perfil-info-titulo {
    background-color: #28ABE3;
    word-spacing: 2px;
    padding: 0.5em; }

.perfil-info {
  background-color: #28ABE3;
  padding: 10px;
  position: relative; }
  .perfil-info img {
    width: 100%;
    border-radius: 100%;
    border-top: 2px solid #024855;
    border-right: 5px solid #024855;
    border-bottom: 6px solid #024855;
    border-left: 5px solid #024855; }
  .perfil-info-user {
    padding: 10px 2em;
    color: #FBFAF9;
    background-color: #024855;
    text-align: center;
    margin-top: -1em;
    position: absolute;
    bottom: 20px;
    left: 20px; }
  .perfil-info-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .perfil-info-details .editbtn {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      font-size: 2em;
      -webkit-transition: 1s ease all;
      transition: 1s ease all; }
      .perfil-info-details .editbtn:hover {
        -webkit-transform: perspective(400) translate3d(0, 0, -120px);
                transform: perspective(400) translate3d(0, 0, -120px);
        color: black; }
      .perfil-info-details .editbtn--fulname h4 {
        display: inline-block;
        width: auto; }

.perfil-list > ul > li {
  padding: 10px; }
  .perfil-list > ul > li:nth-child(odd) {
    background-color: #ececec; }

.perfil-info-titulo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .perfil-info-titulo a {
    background-color: #ecf0f1;
    border-radius: 3px;
    padding: 4px 6px;
    border: 1px solid #cfd9db;
    color: #c83709;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .perfil-info-titulo a:hover {
      color: #972a07;
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }

.fav {
  color: #f465d6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .fav:hover {
    color: #b30d90;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }

.avatar {
  max-width: 200px;
  max-height: 200px; }

.update-avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .update-avatar img {
    margin: 0 0 20px 0 !important; }

.home {
  width: 100%;
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: -10px;
  position: relative; }
  .home-busqueda {
    z-index: 3;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute;
    width: 100%; }
    .home-busqueda > form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      padding: .5em;
      border: 3px solid orange; }
      .home-busqueda > form input {
        margin: 5px auto; }

.finder {
  margin-top: 20px;
  border: 1px solid #d4d4d4; }
  .finder-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; }
  .finder-submit div {
    margin-top: 40px;
    line-height: 1em; }
  .finder-box {
    position: relative;
    width: 100%; }
    .finder-box i {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #3498db; }
  .finder-precio-info {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .finder > .columns {
    margin: 0 auto;
    margin: 1em 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .finder > .columns input {
      margin: 0 0 10px 0; }

.tp-ac__list {
  position: absolute;
  top: 38px;
  left: 0;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-top: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 0px;
  box-sizing: border-box;
  z-index: 33;
  width: 100%; }
  .tp-ac__list li {
    padding: 5px;
    font-family: inherit; }
    .tp-ac__list li:nth-child(odd) {
      background-color: #ececec; }
    .tp-ac__list li:last-child {
      border-bottom: 1px solid #d4d4d4; }

.main-title {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 2em; }

.main-list {
  height: 350px;
  margin: 1em 0; }
  .main-list ul {
    width: 100%;
    height: 100%; }
  .main-list-item {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4; }
    .main-list-item-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      font-size: 0.75em; }
    .main-list-item-pic {
      width: 100%;
      height: 200px;
      position: relative;
      display: block;
      cursor: pointer; }
      .main-list-item-pic img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
      .main-list-item-pic:hover .screen {
        height: 100%; }
        .main-list-item-pic:hover .screen a {
          display: block;
          line-height: 100%; }

.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .screen a {
    display: none;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    text-align: center;
    font-size: 1.5em;
    color: #ecf0f1;
    font-weight: bold;
    line-height: 100%; }

.previous, .next {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .previous i, .next i {
    border: 1px solid #d4d4d4;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer; }

.nombrecasa {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em; }
  .nombrecasa i {
    float: left;
    margin-left: 10px; }

.info-sec {
  margin: 10px; }
  .info-sec i {
    float: left;
    margin-right: 10px; }

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.favorito-selected i {
  color: #ff46ed; }

.offer {
  padding: 1em;
  cursor: move;
  width: 200px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #d7dadb;
  z-index: 1000; }
  .offer-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .offer-box input {
      margin: 5px 0;
      width: 100%; }
  .offer-btn {
    width: 100%;
    background-color: #4CD964;
    border-radius: 0;
    margin-top: 5px; }
  .offer i.fa.fa-times {
    float: right;
    cursor: pointer; }
  .offer-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ecf0f1;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    margin: 2px 1em;
    border: 1px solid #cfd9db;
    -webkit-transition: 1s ease all;
    transition: 1s ease all; }
    .offer-item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1em;
      background-color: #4ECDC4; }
    .offer-item:hover {
      background-color: #c0cdd1; }

.casa {
  position: relative; }
  .casa-container {
    overflow: hidden;
    margin-bottom: 1em; }
  .casa-ofertas {
    width: 100%;
    background-color: #fffafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-bottom: 1em; }
    .casa-ofertas-empty {
      padding: 0 1.5em; }
  .casa-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    overflow: hidden; }
    .casa-info .row {
      padding: 0 1.5em;
      padding-bottom: 10px; }
    .casa-info-descripcion {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      padding: 0 1.5em;
      margin-top: 1em; }
    .casa-info-details {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      border: 0px;
      margin: 10px 0; }
  .casa-titulo {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #33b5ac;
    margin-bottom: 1em; }
  .casa-image-container {
    max-height: 300px;
    overflow: hidden; }

.bx-wrapper {
  max-height: 300px;
  padding: 0 1em; }

.favform {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.btn-fav {
  border-radius: 100%;
  border: 3px solid black;
  box-sizing: border-box;
  padding: 0.5em;
  margin-bottom: -5px; }
  .btn-fav .fa.fa-heart {
    font-size: 2em; }
  .btn-fav:hover {
    border-color: #6b1c12; }

.offerbtn {
  float: right;
  cursor: pointer;
  text-shadow: 0px 0px 7px #989696;
  color: #4CD964;
  font-size: 1.5em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  .offerbtn:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #107360; }

.deleteoffer {
  border: 0;
  padding: 0;
  color: red;
  padding: 0;
  font-size: 1em;
  margin: 0;
  cursor: pointer; }

body {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  font-family: 'Roboto', 'Lato';
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: inherit; }

.main {
  padding: 10px;
  box-sizing: border-box;
  max-width: 960px; }

.alert-error {
  position: relative;
  height: 50px;
  width: 80%;
  background-color: #dd4b39;
  padding-left: 10%;
  line-height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: auto;
  margin-bottom: 20px; }
  .alert-error i {
    height: 100%;
    width: 10%;
    background-color: #ac2d1e;
    font-size: 1.25em;
    color: #3f110b;
    text-align: center;
    line-height: 50px;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute; }
  .alert-error:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.alert-success {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #2ecc71;
  padding-left: 12.5%;
  line-height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px; }
  .alert-success i {
    height: 100%;
    width: 10%;
    background-color: #208e4e;
    font-size: 1.25em;
    color: #082615;
    text-align: center;
    line-height: 50px;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute; }
  .alert-success:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.hidden {
  visibility: hidden;
  display: none; }

.box {
  background-color: white;
  box-shadow: 0px 2px 14px -6px rgba(0, 0, 0, 0.5); }

strong {
  font-weight: bold; }

.green {
  color: #4CD964; }

.red {
  color: #dd4b39; }

.twitter {
  color: #55acee; }

.facebook {
  color: #3b5998; }

.relative-box {
  position: relative; }
