{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ casa.nombre }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block content %}

div
  | {%if casa.imagen %}
  img(src="{{casa.imagen.url}}", alt="")
  | {% endif %}
  p {{ casa.descripcion }}
  {% if casa.owner.username == user.username %}
  h1 {{casa.owner.username}}
  {% endif %}
  {% if user.is_authenticated %}
  form(action="/fav/", method="POST")
    {% csrf_token %}
    input(type="hidden" value="{{ csrf_token }}", id="csrf")
    button(id="favbtn", data-idcasa="{{casa.id}}") Fav
  {% endif %}
{% endblock%}
