{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ casa.nombre }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
{{ casa.nombre }}
{% endif%}
{% endblock %}

{% block content %}

div.container.casa
  section.casa-container.box
    h3.casa-titulo Imagenes
    ul.bxslider.casa-image-container 
      | {%if casa.imagen %}
      li 
        img(src="{{casa.imagen.url}}", alt="")
      li
        img(src="{{casa.imagen.url}}", alt="")
      {% else %}
      li 
        img(src="/static/images/casa_generica.png", alt="")
      li
        img(src="/static/images/casa_generica.png", alt="")
      | {% endif %}
  section.casa-info.box.u-full-width
    h3.casa-titulo Información de la casa
    div.row.u-full-width
      strong.one.column.fa.fa-home &nbsp;&nbsp;Nombre:
      p.two.columns &nbsp;&nbsp;{{casa.nombre}}
      strong.one.column.fa.fa-map-marker &nbsp;&nbsp;Dirección:
      p.two.columns &nbsp;&nbsp;{{casa.direccion}}
      strong.one.column.fa.fa-phone &nbsp;&nbsp;Teléfono:
      p.two.columns &nbsp;&nbsp;9444444444
      strong.one.column.fa.fa-envelope &nbsp;&nbsp;CP:
      p.one.column &nbsp;&nbsp;{{casa.postcode}}
      
    p.casa-info-descripcion {{casa.descripcion }}
    {% if user.is_authenticated %}
    div.row.u-full-width.casa-info-details
      p(class="two columns fa {% if casa.wifi %}fa-check-square-o green{% else %} fa-ban red{%endif%}")  &nbsp;&nbsp;Wifi
      p(class="two columns fa {% if casa.parking %}fa-check-square-o green{% else %} fa-ban red{%endif%}")  &nbsp;&nbsp;Parking
      p(class="two columns fa {% if casa.publico %}fa-check-square-o green{% else %} fa-ban red{%endif%}")  &nbsp;&nbsp;Vistas
      p(class="two columns fa {% if casa.mascotas %}fa-check-square-o green{% else %} fa-ban red{%endif%}")  &nbsp;&nbsp;Mascotas
      p(class="two columns fa {% if casa.piscina %}fa-check-square-o green{% else %} fa-ban red{%endif%}")  &nbsp;&nbsp;Piscina
      form(action="/fav/", method="POST", class="favform two columns")
        {% csrf_token %}
        button(id="favbtn", data-idcasa="{{casa.id}}", class="{% if fav > 0 %} favorito-selected {% endif %} btn-fav")
          i.fa.fa-heart
    {% endif %}
    {% if casa.owner.username == user.username %}
    div(class="offer box", id="offer-container" )
      h5 Añadir oferta
        i.fa.fa-times#offer-close
      form(action="/nuevaoferta", method="POST", class="offer-box")
        {% csrf_token %}
        input(type="text", id="of-fechaInicio", placeholder="Fecha inicio")
        input(type="text", id="of-fechaFin", placeholder="Fecha fin")
        input(type="number", placeholder="Precio", id="of-precio")
        button(class="offer-btn", data-idcasa="{{casa.id}}", id="newOffer", type="submit") Crear oferta

    {% endif %}
  section.casa-ofertas#offer-list
    h3.casa-titulo Ofertas 
      {% if casa.owner.username == user.username %}
      i.fa.fa-plus.offerbtn#openofferbox
      {% endif %}
    {% if ofertas %}
    {% for oferta in ofertas %}
    div.offer-item.row
      {% if casa.owner.username == user.username %}
      p.columns.three{{oferta.fechaInicio}} 
      p.columns.three{{oferta.precio}}
      p.columns.three{{oferta.fechaFin}}
      form(action="/borraroferta/", method="POST", class="three columns")
        {% csrf_token %}
        div(id="deletebtn", data-idoferta="{{oferta.id}}", class="deleteoffer")
          i.fa.fa-trash-o
      {% else %}
      p.columns.four{{oferta.fechaInicio}} 
      p.columns.four{{oferta.precio}}
      p.columns.four{{oferta.fechaFin}}
      {% endif %}
    {% endfor%}
    {% else %}
    p.casa-ofertas-empty No hay ofertas disponibles para la casa
    {% endif %}
{% endblock%}
