{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ title }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Lista casas rurales
{% endif%}
{% endblock %}

{% block content %}

ul.casas-list-container
  | {% if object_list %}
  | {% for rh in object_list %}
  li.casas-list-item
    | {%if rh.imagen %}
    img(src="{{rh.imagen.url}}", alt="")
    | {% else %}
    img(src="/static/images/casa_generica.png", alt="")
    | {% endif %}
    div.casas-list-item-info
      a(href="") {{ rh.nombre }}
      p {{ rh.descripcion|truncatechars:140}}
      div.casas-list-item-details
        p {{rh.date}}
  | {% endfor %}
  | {% endif %}
{% endblock%}
