{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ title }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Lista casas rurales
{% endif%}
{% endblock %}

{% block content %}

ul.casas-list-container
  | {% if object_list %}
  | {% for rh in object_list %}
  li.casas-list-item
    | {%if rh.imagen %}
    img(src="{{rh.imagen.url}}", alt="")
    | {% else %}
    img(src="/static/images/casa_generica.png", alt="")
    | {% endif %}
    div.casas-list-item-info
      a(href="") {{ rh.nombre }}
      p {{ rh.descripcion|truncatechars:140}}
      div.casas-list-item-details
        p {{rh.fecha}}
      a(href="{% url 'casas:detail' pk=rh.pk %}") Ver más
  | {% endfor %}
  | {% endif %}
  | {% if page_obj.has_previous %}
  a(href="/?page={{ page_obj.previous_page_number }}") previous
  |{% endif %}
  span.page-current
  | Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  | {% if page_obj.has_next %}
  a(href="/?page={{ page_obj.next_page_number }}") next
  | {% endif %}

{% endblock%}
