{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ casa.nombre }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block content %}

div
  | {%if casa.imagen %}
  img(src="{{casa.imagen.url}}", alt="")
  | {% endif %}
  p {{ casa.descripcion }}
  {% if casa.owner.username == user.username %}
  h1 {{casa.owner.username}}
  {% endif %}
{% endblock%}
