{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ casa.nombre }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block content %}
form(action="", method="POST", enctype="multipart/form-data")
  | {% csrf_token %}
  | {{ form.as_p }}
  button(type="submit") Actualizar usuario
{% endblock %}
