.footer{

  width: 100%;
  order: 666;
  &-main{
    width: 100%;
    height: 100px;
    background-color: #4BAFB5;
    @include flexbox($dir:column, $justify: center, $align: center);
  }

  &-small{
    width: 100%;
    height: 20px;
    background-color: #387C89;
  }
}

.github-logo{
  width: 75px;
  height: 75px;
}
