header{
  width: 100%;
  //background-color: $cBrown;
  background-color: #444;
  margin-bottom: 30px;
  @include flexbox($dir: column, $align: center);

}
.header{
  width: 100%;
  height: 64px;
  //box-shadow: 0px 2px 14px -6px rgba(0,0,0,0.75);
  @include flexbox($justify: space-around, $align: center);

  &-titulo{
    font-family: 'Open sans';
    font-size: 32px;
    color: #fff;
  }

  &-nav{
    @include flexbox($align: center);

    &-titulo{
      color: white;
      font-weight: bold;
      margin: 0 10px;
    }
  }

  &-btn{
    border-radius: 1px solid black;
    padding: 10px;
    background: $cMain url('/static/images/button-glass.png');
    margin: 0 10px;
    border-radius: 3px;

    &.signin{
      @include boton_menu($cMain);
    }
    &.signup{
      @include boton_menu($cTwitter);
    }
    &.logout{
      @include boton_menu(#fed5d5);
      color: red;
    }
    &.edit-profile{
      @include boton_menu($cLightGrey);
    }
    &.new-house{
      @include boton_menu($cLightGrey);

    }
  }



}

.banner{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: $cLightGrey;
  //background: url('/static/images/banner.jpg');
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
  @include flexbox($align:center, $justify:center);
  &-opacity{
    @include absolute($top: 0, $left: 0);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.19);
    z-index: 5;
  }

  &-title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    //color: white;
  }
}

.menu{
  padding: 0;
  margin: 0;
  height: 30px;
  width: 100%;
  background: darken(#444, 5%);
  @include flexbox($justify: center);
  &-container{
    width: $sMainContainer;
  }
  &-fixed{
    position: fixed;
    z-index: 777;
  }

  &-btn{
    background-color: lighten(#444, 10%);
    box-sizing: border-box;
    border-bottom: 2px solid $peterRiver;
    line-height: 30px;
    color: white;
    font-size: 0.75em;
    height: 30px;
    margin: 0;
    padding: 7px 1em 6px 1em;
    &:hover{
      background-color: darken(#444, 5%);
    }
  }
}
