
// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

$color: black;
// greens
$turquoise:     #1abc9c;
$emerald:       #2ecc71;
$greenSea:      #16a085;
$nephritis:     #27ae60;

// blues
$peterRiver:    #3498db;
$belizeHole:    #2980b9;
$wetAsphalt:    #34495e;
$midnightBlue:  #2c3e50;

// purples
$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

// oranges
$sunflower:     #f1c40f;
$carrot:        #e67e22;
$orange:        #f39c12;
$pumpkin:       #d35400;

// reds
$alizarin:      #e74c3c;
$pomegranate:   #c0392b;

// grays
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

$aoi:           #69D2E7;
$pondwater:     #A7DBD8;
$beach:         #E0E4CC;
$goldfish:      #F38630;
$pills:         #FA6900;

$charcoal:      #2B2B2B;
$red:           #FF3B30;
$orange:        #FF9500;
$yellow:        #FFCC00;
$green:         #4CD964;
$lightBlue:     #34AADC;
$blue:          #007AFF;
$purple:        #5856D6;
$magenta:       #FF2D55;
$spaceGray:     #8E8E93;
$gray:          #C7C7CC;
$black:         #1F1F21;
$white:         #F7F7F7;

$cMain: $emerald;
$cSecondary: #216098;
$cWhite: #fffafa;
$cDarkGrey: #4A473C;
$cLightGrey: #FBFAF9;

$cBrown: #8B572A;
$cPink: #df3e7b;

$cTwitter: #55acee;
$cFacebook: #3b5998;
$cGithub: #333333;
$cGoogle: #dd4b39;
// +-------------------------------------------------------------------------+
// | Sizes                                                                |
// +-------------------------------------------------------------------------+

$sMainContainer: 980px;
