@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import "skeleton.scss";
@import "reset.scss";
@import 'variables.scss';
@import 'mixins.scss';
@import 'footer.scss';
@import "navbar.scss";
@import 'pages/list_casas';
@import 'login.scss';
@import 'form.scss';
@import 'perfil-usuario';
@import 'pages/index';
@import 'assets/slide';
@import 'pages/house-detail';


body{
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  @include flexbox($dir: column, $justify: space-between, $align: center);
  box-sizing: border-box;
  font-family: 'Roboto', 'Lato';
  background-color: $cBody;
}


a{
  text-decoration: none;
  color: inherit;
}

.main{
  //background-color: $clouds;
  //box-shadow: 0px 2px 14px -6px rgba(0,0,0,0.5);
  padding: 10px;
  box-sizing: border-box;
  max-width: 960px;
}


.alert{
  &-error{
    @include alert($color: $cGoogle, $width: 80%);
    margin: auto;
    margin-bottom: 20px;
  }
  &-success{
    @include alert($color: $emerald, $width: 100%);
    margin-bottom: 20px;
  }
}

.hidden{
  visibility: hidden;
  display: none;
}

.box{
  background-color: white;
  box-shadow: 0px 2px 14px -6px rgba(0,0,0,0.5);

}

strong{
  font-weight: bold;
}

.green{
  color: $green;
}

.red{
  color: $cGoogle;
}

.relative-box{
  position: relative;
}
