doctype
html
  head
    | {% load staticfiles %}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title {% block page_title %}{% endblock %}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="{% static 'css/base.css' %}")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    
  body
    header
      div.header
        h1.header-titulo 
          a(href="/") RuralHouse's
        navbar.header-nav
          | {% if user.is_authenticated %}
          h1.header-nav-titulo ¡ Hola {{ user.username }} !
          a(href="" class="header-btn new-house")
            i.fa.fa-plus
          a(href="{% url 'casas:editarperfil' pk=user.pk %}" class="header-btn edit-profile")
            i.fa.fa-cog
          a(href="/logout" class="header-btn logout")
            i.fa.fa-times
          
          | {% else %}
          a(href="/login" class="header-btn signin") Iniciar sesión
          a(href="/register" class="header-btn signup") Registrarse
          | {% endif %}
      div.banner
        div.banner-opacity
        h2.banner-title {% block section_title %}{% endblock %}
    section.main
      | {% block content %}
      | {% endblock %}
    footer.footer
      div.footer-main
        a(href="https://github.com/jcdc21/django-RuralHouses")
          img(src="/static/images/github.png", alt="", class="github-logo")
      div.footer-small
