doctype
html
  head
    | {% load staticfiles %}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title {% block page_title %}{% endblock %}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="{% static 'css/main.css' %}")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="icon", type="image/png", href="{% static 'images/icons/favicon.png' %}")
  body
    header
      div.header
        h1.header-titulo 
          a(href="/") RuralHouse's
        div.header-nav
          | {% if user.is_authenticated %}
          h1.header-nav-titulo ¡ Hola {{ user.username }} !
          | {% endif %}
      navbar.menu#navbar
        div.menu-container
          a(href="/", class="menu-btn") Inicio
          | {% if user.is_authenticated %}
          a(href="{% url 'casas:nuevacasa' %}", class="menu-btn") Añadir casa
          a(href="{% url 'usuarios:editarperfil' pk=user.perfil.pk %}", class="menu-btn") Mi perfil
          a(href="/logout", class="menu-btn") Salir
          {% else %}
          a(href="/login", class="menu-btn") Iniciar sesión
          a(href="/register", class="menu-btn") Registrarse
          | {% endif %}
      div.banner
        div.banner-opacity
        h2.banner-title {% block section_title %}{% endblock %}
    section.main
      | {% block content %}
      | {% endblock %}
    footer.footer
      div.footer-main
        a(href="https://github.com/jcdc21/django-RuralHouses")
          img(src="/static/images/github.png", alt="", class="github-logo")
      div.footer-small
  script(src="{% static 'js/bundle.js' %}")
