{% extends "base.jade" %}

{% block page_title %}
{% if title %}
{{ title }}
{%else%}
| Casas rurales
{% endif%}
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| RuralHouses blablabla
{% endif%}
{% endblock %}

{% block content %}
section.home.container
  div.home-busqueda.row
    form(action="/lista", method="get", class="columns four")
      input(type="text", placeholder="Buscar casa", class="form-input", name="name")
      input(type="text", placeholder="Ciudad", class="form-input", name="city")
      button(type="submit", class="button-primary") Buscar casa
    form(action="", method="post", class="columns four")
      | {% csrf_token %}
      input(type="text", placeholder="Ciudad", class="form-input")
      input(type="text", placeholder="Fecha inicio", class="form-input", id="busqueda_fechaInicio")
      input(type="text", placeholder="Fecha fin", class="form-input", id="busqueda_fechaFin")
      button(type="submit", class="button-primary") Buscar oferta
  
{% endblock%}
