{% extends "base.jade" %}

{% block page_title %}
|Login
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Iniciar sesión
{% endif%}
{% endblock %}

{% block content %}
h3 Login
form(action="" method="post")
  | {% csrf_token %}
  
  input(type="text", name="username", size="50")
  input(type="password", name="password", size="50")
  button(type="submit") Login
a(href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}") LogIn con Facebook
{% endblock%}
