{% extends "base.jade" %}

{% block page_title %}
|Login
{% endblock %}

{% block section_title %}
{% if title %}
{{ title }}
{%else%}
| Iniciar sesión
{% endif%}
{% endblock %}

{% block content %}
h3 Login
form(action="" method="post")
  | {% csrf_token %}
  
  input(type="text", name="username", size="50")
  input(type="password", name="password", size="50")
  button(type="submit", class="login-btn") Login
div.login-social
  a(href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}", class="login-social-btn twitter-btn")
    i.fa.fa-twitter
  a(href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}", class="login-social-btn facebook-btn")
    i.fa.fa-facebook-square
  a(href="{% url 'social:begin' 'github' %}?next={{ request.path }}", class="login-social-btn github-btn")
    i.fa.fa-github-alt
div.register
  a(href="{}")
{% endblock%}
